<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoffeeShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/66f7fe13b6.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>  
</head>
<body>
    <header>
        <div class="title">Epický Coffee obchod</div>
        <div class="header-container">
            <a asp-area="" asp-page="/Index" >Domů</a>
            <a asp-area="" asp-page="/AddCoffee" >Přidat kávu</a>
            <a asp-area="" asp-page="/CoffeeList" >Kávový List</a>           
            
        </div>
    </header>

    <div class="container">
        <main role="main" id="swup" class="pb-3">
            @RenderBody()
            <video autoplay muted loop id="background-video" class="transition-video">
                <source src="/videos/lofi-coffee-shop.mp4" type=video/mp4 />
            </video>
        </main>
    </div>

    <footer>
        <div class="title">
            Chlumec-Chang-a-Chiktor ©2022
        </div>
        <div class="buttons">
            <button class="btn-modes" id="motionBtn" onclick="StopMotion()">Zastavit animaci</button>
            <button class="btn-modes" id="hiddenBtn" onclick="StartMotion()">Spustit animaci</button>
            <button class="btn-modes" onclick="ZoomerMode()">Zoomerský mód</button>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        let backgroundVideo = $("#background-video");
        let hiddenBtn = $("#hiddenBtn");
        let motionBtn = $("#motionBtn");

        hiddenBtn.hide(0);

        function StopMotion() {
            backgroundVideo.get(0).pause();
            hiddenBtn.show(0);
            motionBtn.hide(0);
        }

        function StartMotion() {
            backgroundVideo.get(0).play();
            motionBtn.show(0);
            hiddenBtn.hide(0);
        }

        function ZoomerMode() {
            $("source").attr("src", "/videos/trolled.mp4");
            $("video")[0].load(0);
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
