<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoffeeShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="title">Epický Coffee shop</div>
        <div class="header-container">
            <a asp-area="" asp-page="/Index" >Home</a>
            <a asp-area="" asp-page="/CoffeeList" >Coffee List</a>
            
            <a asp-area="" asp-page="/AddCoffee" >Add Coffee</a>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <video autoplay muted loop id="background-video">
                <source src="/videos/lofi-coffee-shop.mp4" type=video/mp4 />
            </video>
        </main>
    </div>

    <footer>
        <div class="title">©2022</div>
        <div class="buttons">
            <button class="btn-modes">Stop motion</button>
            <button class="btn-modes">Zoomer mode</button>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
