@page
@model CoffeeShop.Pages.CoffeeListModel
@{
}
<h1 class="text-center">Nejzajímavější Kávy</h1>

<div class="CardHolder">
    @foreach (var item in Model.CoffeeList)
    {
            <a asp-page="RateCoffee" asp-route-id="@item.Id" class="CardRedirect text-center">
                <div class="InnerCard">
                    <div><h5>@item.Name</h5></div>
                    <img src="~/Images/JavaCoffe.png" />
                </div>

            </a>
    }

</div>

