@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="text-center">INDEX TBA</h1>

<div class="CardHolder">
    <div class="text-center flex-row Card">
        <div><h5>pog?</h5></div>
        <img src="~/Images/JavaCoffe.png" />
        <div>pog??</div>
    </div>
    <div class="text-center flex-row Card">
        <div><h5>pog?</h5></div>
        <img src="~/Images/JavaCoffe.png" />
        <div>pog??</div>
    </div>
    <div class="text-center flex-row Card">
        <div><h5>pog?</h5></div>
        <img src="~/Images/JavaCoffe.png" />
        <div>pog??</div>
    </div>

</div>
