@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<partial name="_Notifications" />
<div class="text">
    <h2 class="text-center">Kávová agentura s nekonečným prostorem pro kreativitu. <br> Zde má každé pořádné kafe řešení.</h2>
</div>

<div class="CardHolder">
    <a asp-page="/AddCoffee" class="CardRedirect">
        <div class="text-center InnerCard">
            <br />
            <div><h4>Přidat kávu</h4></div>
            <br />
            <i class="fas fa-plus fa-8x"></i>
        </div>
    </a>
    <a asp-page="/CoffeeList" class="CardRedirect">
        <div class="text-center flex-row InnerCard">
            <br />
            <div><h4>Kávové menu</h4></div>
            <br />
            <i class="fas fa-list fa-8x"></i>
        </div>
    </a>
    <a asp-page="/RateCoffee" asp-route-id="@Model.RandomId" class="CardRedirect">
        <div class="text-center flex-row InnerCard">
            <br />
            <div><h4>Zkusím štěstí</h4></div>
            <br />
            <i class="fas fa-question fa-8x"></i>
        </div>
    </a>

</div>

