@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="index-text">
    <h3 class="text-center">Kávová agentura s nekonečným prostorem pro kreativitu. Zde má každý problém řešení.</h3>
    <h3 class="text-center">Nabízíme chytrá, bezpečná a jednoduchá řešení pro Vaši kávu.</h3>
</div>

<div class="CardHolder">
    <a asp-page="/AddCoffee" class="CardRedirect">
        <div class="text-center flex-row InnerCard">
            <br />
            <div><h4>Add Coffee</h4></div>
            <br />
            <i class="fas fa-plus fa-8x"></i>
        </div>
    </a>
    <a asp-page="/CoffeeList" class="CardRedirect">
        <div class="text-center flex-row InnerCard">
            <br />
            <div><h4>CoffeeList</h4></div>
            <br />
            <i class="fas fa-list fa-8x"></i>
        </div>
    </a>
    <a asp-page="/Index" class="CardRedirect">
        <div class="text-center flex-row InnerCard">
            <br />
            <div><h4>TBA</h4></div>
            <br />
            <i class="fas fa-question fa-8x"></i>
        </div>
    </a>

</div>
